{% extends "base.html" %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Logout</h1>
            <p class="lead fw-normal text-white-50 mb-0">Log out</p>
        </div>
    </div>
</header>
<div class='container'>
    <div class='row'>
        <center>
            <div clas='col-8'>
                <br><br>
                <p align='justify'>
                    
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin felis a turpis tristique suscipit. Proin imperdiet sit amet augue id eleifend. In hac habitasse platea dictumst. Integer finibus eget est eget sollicitudin. Sed et massa feugiat, semper arcu tincidunt, mattis nunc. Ut id leo auctor, congue quam sed, malesuada velit. In fringilla tempus aliquam. Mauris in arcu vitae augue molestie lobortis sed vitae augue. Curabitur nisi ante,<br><br> pretium id neque vel, elementum tincidunt tellus. Mauris ut purus nec eros lacinia interdum. Sed mollis et nulla ut elementum. Quisque magna eros, rhoncus ut cursus a, tempus aliquet mi. Ut viverra tincidunt elit, at ullamcorper elit viverra at. Quisque vel orci imperdiet, laoreet diam non, elementum urna. Proin faucibus ante libero, vehicula finibus tellus pretium mollis.

                Donec ac massa nisl. Etiam nisi eros, aliquet non augue vitae, malesuada ornare nibh. Donec accumsan id nisi ut ultricies.<br><br> Vestibulum tristique, sapien sit amet viverra pharetra, velit diam efficitur enim, ut suscipit ante purus eu arcu. Vivamus iaculis vehicula felis eu vestibulum. Aliquam in dictum neque, sit amet rutrum ligula. Duis auctor sollicitudin vestibulum. Cras mollis dolor sed urna facilisis consectetur. Proin vel aliquet nibh, sed eleifend dolor. Fusce pretium feugiat nisl sed viverra. Praesent rhoncus porttitor odio vel iaculis. Cras a blandit diam. Maecenas bibendum nunc non arcu euismod convallis. Nulla facilisi.<br><br>

                Nulla volutpat vulputate urna ac sagittis.<br><br> Praesent consequat urna eget arcu vehicula tristique. Aliquam convallis mauris sed laoreet eleifend. Cras vitae erat at lacus dictum venenatis id at orci. Phasellus dictum malesuada odio ut bibendum. Fusce finibus, sem eu hendrerit cursus, est magna laoreet purus, a ullamcorper dui purus vitae enim. Phasellus faucibus turpis sit amet lacus fermentum vehicula. Curabitur eget tortor et mauris accumsan tristique nec sit amet velit. Praesent nisi est, volutpat sit amet aliquet vel, finibus maximus tortor. Maecenas varius molestie aliquam. Suspendisse nibh sem, consectetur at tincidunt vitae, sollicitudin nec eros. Etiam at elementum ipsum, eget varius tortor. Morbi augue lorem, posuere in nisl at, ultricies pulvinar quam. Phasellus at aliquam dui, sit amet placerat nulla. 
                </p><br><br>
            </div>
        </center>

    </div>
</div>


{% endblock content %}